@import "css/bootstrap.min.css";

.card {
	max-width: 600px; /* Incorrect method for max-width */
}

.card, .card-header:first-child, .card-footer:last-child, .nav-tabs .nav-link {
	border-radius:var(--bs-rounded-0);
}

.nav-tabs .nav-link {
	background-color:var(--bs-gray-200);
}

.nav-link.disabled {
	background-color:var(--bs-gray-500);
	color:var(--bs-white);
}

.card-header {
	background-color:var(--bs-gray-700);
	padding-bottom:var(--bs-p-0);
}

.card-footer {
	background-color:var(--bs-gray-700);
	color:var(--bs-white);
}

ul.nav-tabs {
	border-bottom:var(--bs-border-bottom-0);
}


/* Redesign */

.card {
	border-radius:var(--bs-border-radius);
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
	height: 60%;
}

.card-header:first-child, .nav-tabs .nav-link {
	border-top-left-radius:var(--bs-border-radius);
	border-top-right-radius:var(--bs-border-radius);
}

.card-footer:last-child {
	border-bottom-left-radius:var(--bs-border-radius);
	border-bottom-right-radius:var(--bs-border-radius);
}

.nav-tabs .nav-link {
	color: var(--bs-gray-600);
}

.nav-tabs .nav-link:hover {
	background-color: var(--bs-white);
}

.list-group-item:hover {
	border-radius: var(--bs-border-radius);
}

.list-group-item.active {
	border-radius: var(--bs-border-radius);
}

.tab-content img {
	border-radius: var(--bs-border-radius);
}

@media screen and (min-width: 768px) {
  .list-group-item {
		border-top: var(--bs-border-0)
	}
}
